body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #58a5ff;
    height: fit-content;
}

#encase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    min-height: 100px;
    width: 1000px;
    border-radius: 30px;
    background-color: #ecf4ff;
    border-left: 50px solid #ecf4ff;
    border-right: 50px solid #ecf4ff;
    border-top: 50px solid #ecf4ff;
}

#encase div {
    margin: 5px;
}

label {
    font-size: 16px;
    line-height: 1.5;

    margin-bottom: 8px;
    display: block;
}

#listOfToDoItems {
    display: flex;
    flex-direction: column;
}

.listItem {
    min-height: 100px;
    padding: 0;
    height: fit-content;
    margin: 20px;
    width: 600px !important;
    overflow-wrap: break-word;
    background-color: #87aca3;
    border: #87aca3 solid 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listItem button {
    width: 25%;
    height: 40px;
    border: solid 1px black;
    border-radius: 5px;
}

#editTextBox {
    height: 0;
    width: 0;
    overflow: hidden;
    top: 100px;
    left: 50%;
}

.col {
    display: flex;
    flex-direction: col;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.editTextBoxElement {
    height: 0;
    width: 0;
    overflow: hidden;
}

textarea::-webkit-scrollbar {
    width: 12px;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

textarea {
    box-shadow: 0px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 400px;
}

.close {
    float: right;
    cursor: pointer;
}

#part {
    border: solid 2px aquamarine;
}

#amenities {
    display: flex;
    flex-direction: row;
}

#reminderPalette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#reminderOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#reminderContent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    z-index: 2;
    width: 400px;
    max-width: 90%;
}

button#filterHighPriority,
button#filterMediumPriority,
button#filterLowPriority {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button#filterHighPriority {
    background-color: #f44336;
}

button#filterMediumPriority {
    background-color: #ffc107;
}

button#filterLowPriority {
    background-color: #7ead89;
}

button#showAllTasksButton {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button#createReminderButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

button#createReminderButton:hover {
    background-color: #0056b3;
}

button#createReminderButton:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

button#createReminderButton:active {
    background-color: grey;
}

button#createToDo {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

button#createToDo:hover {
    background-color: #0056b3;
}

button#createToDo:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

button#createToDo:active {
    background-color: grey;
}

#toDoOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#toDoContent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    z-index: 2;
    width: 400px;
    max-width: 90%;
}

#palettes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 50px;
}

input {
    font-size: 16px;
    line-height: 1.5;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease-in-out;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

input:disabled {
    background-color: #f8f9fa;
    cursor: not-allowed;
}

select {
    font-size: 16px;
    line-height: 1.5;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    appearance: none;
    transition: border-color 0.2s ease-in-out;
}

select:focus {
    border-color: #007bff;
    outline: none;
}

select:disabled {
    background-color: #f8f9fa;
    cursor: not-allowed;
}

#buttonDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#buttonDiv button {
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#buttonDiv button:hover {
    background-color: #0056b3;
    cursor: pointer;
}

#buttonDiv button:focus {
    outline: none;
}

#buttonDiv button:active {
    background-color: #003974;
}

#buttonDiv button:disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
}

#buttonDiv button:not(:last-child) {
    margin-right: 10px;
}

#saveReminderButton {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#saveReminderButton:hover {
    background-color: #45a049;
}

#cancelReminderButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#cancelReminderButton:hover {
    background-color: #d32f2f;
}

#cancelToDoButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#cancelToDoButton:hover {
    background-color: #d32f2f;
}

#submitButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#submitButton:hover {
    background-color: #0056b3;
}

.addSubtaskButton {
    background-color: #9604a9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.addSubtaskButton:hover {
    background-color: #2f8203b0;
}

#addSubtaskButton2 {
    background-color: #68da2b7a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#addSubtaskButton2:hover {
    background-color: #414fe8b3;
}